# Ejemplo de archivo .env para BTG Funds Backend
# Copia este archivo como .env y completa los valores reales

# AWS
AWS_ACCESS_KEY_ID=tu_access_key
AWS_SECRET_ACCESS_KEY=tu_secret_key
AWS_REGION=us-east-1

# PostgreSQL
PGHOST=tu_host
PGUSER=tu_usuario
PGPASSWORD=tu_password
PGDATABASE=tu_db
PGPORT=5432

# DynamoDB
DYNAMODB_TABLE_FONDS=FondosTable

# SES
SES_EMAIL_FROM=notificaciones@tudominio.com

# JWT
JWT_SECRET=supersecreto

